# Handle Addition
ACTION=="add", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", ENV{ID_FS_LABEL}!="NO_AUTOMOUNT", \
  RUN+="/usr/local/bin/usb-linker.sh add %k %E{ID_FS_LABEL}"

# Handle Removal
ACTION=="remove", SUBSYSTEM=="block", KERNEL=="sd[a-z][0-9]", \
  RUN+="/usr/local/bin/usb-linker.sh remove %k %E{ID_FS_LABEL}"