  GNU nano 7.2                              /etc/systemd/system/BlocksScreen.service
[Unit]
Description=BlocksScreen GUI
StartLimitIntervalSec=0
After=systemd-user-sessions.service plymouth-quit-wait.service
ConditionPathExists=/dev/tty0
Wants=dbus.socket systemd-logind.service
After=dbus.socket systemd-logind.service


[Service]
Type=simple
Restart=always
RestartSec=2
User=blocks
Group=blocksscreen
SupplementaryGroups=blocksscreen
WorkingDirectory=BS_DIR
Environment= "BS_XCLIENT=BS_ENV/.BlocksScreen-env/bin/python3.11 BS_DIR/BlocksScreen/BlocksScreen.py" BACKEND=BS_BACKEND
ExecStart="BS_DIR/scripts/BlocksScreen-start.sh"
UtmpIdentifier=tty7
UtmpMode=user
PAMName=%u
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target