altgraph==0.17.4
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
numpy==2.3.4
pefile==2024.8.26
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
requests>=2.32.5
sdbus==0.14.1
sdbus-networkmanager==2.0.0
typing==3.7.4.3
websocket-client==1.9.0
qrcode==8.2
pillow==12.1.0